/* .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
  }
  
  .input-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  
  .common-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .common-input:focus {
  border-color: #C5B8E8;
  
  .input-error {
    border-color: red;
  }
  
  .error-text {
    font-size: 12px;
    color: red;
  }
   */



.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-bottom: 8px;
  margin-bottom: 8px;
  line-height: 160%;
  text-transform: capitalize;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 12px 10px;
  outline: none;
  font-size: 12px;
}
