.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
 font-size: 16px;
  font-weight: 500;
  color: black;
  margin-bottom: 8px;
  line-height: 160%;
  text-transform: capitalize;
}